<div class="detail-room">
  <div class="back-button-container">
    <button mat-flat-button>{{backButtonLable}}</button>
  </div>
  <div class="message-panel-content">
    <div class="left-container-text">
      {{headerLabel}}
    </div>
    <diV class="right-container">
      <div class="first-row">
        <span>{{detailFirstRowFirstValue}}</span>
      </div>
      <div class="second-row">
        <span class="text">{{detailSecondRowFirstValue}}</span>
        <span class="text">{{detailSecondRowSecondValue}}</span>
      </div>
    </diV>
  </div>
</div>
