.detail-room {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 16px;
  overflow: hidden;
.back-button-container {
  margin-left: 8px;
}
.message-panel-content {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  padding: 16px;
  margin-left: 32px;
  // margin-right: 32px;
  max-width: 100%;
  flex-grow: 1;
  .left-container-text {
    padding-right: 16px;
    display: flex;
    flex-shrink: 0;
    font-size: 1.2rem;
    max-width: 60%;
  }
  .right-container {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    .first-row {
      min-height: 32px;
    }
    .second-row{
      display: flex;
      min-height: 32px;
      .text {
        padding-right: 8px;
      }
    }
  }
}
}
